
<form class="form-horizontal" role="form">
    <!-- PAGE CONTENT BEGINS -->
    <div class="control-group">

        <div class="form-group">
            <label for="form-field-1" class="col-sm-3 control-label no-padding-left">Data dal</label>

            <div class="col-sm-9">
                <input id="datada" type="text" placeholder="Data dal" data-date-format="dd-mm-yyyy" class="span10 date-picker">
            </div>
        </div>

        <div class="form-group">
            <label for="form-field-1" class="col-sm-3 control-label no-padding-left">Data al</label>

            <div class="col-sm-9">
                <input id="dataal" type="text" placeholder="Data dal" data-date-format="dd-mm-yyyy" class="span10 date-picker">
            </div>
        </div>
        <div class="form-group">

            <label for="form-field-1" class="col-sm-3 control-label no-padding-left">Zona</label>
            <div class="col-sm-9">
                <select name="id_zona" id="id_zona">
                    <option value="0">
                        Visualizza tutte le zone
                    </option>
                    @if (Model != null)
                    {
                        foreach (var item in Model.ListaMacroAree)
                        {
                            <option value="@item.id">@item.zona</option>
                        }
                    }
                </select>
            </div>
        </div>
        @*<div class="form-group">
                <label for="form-field-1" class="col-sm-3 control-label no-padding-left">Evento</label>
                <div class="col-sm-9">
                    <select name="tipoevento" id="tipoevento">
                        <option value="0">
                            Visualizza tutti i tipi eventi
                        </option>
                        @foreach (var item in Model.EventTypes)
                        {
                            <option value="@item.Id">

                                @item.Description
                            </option>}
                    </select>
                </div>
            </div>*@




        <div class="clearfix form-actions">
            <div class="col-md-offset-3 col-md-9">
                
                <button class="btn btn-info" type="button" onclick="P_AvviaRicerca();">
                    <i class="ace-icon fa fa-search bigger-110"></i>
                    Cerca
                </button>
                &nbsp; &nbsp; &nbsp;
                <button class="btn" type="reset">
                    <i class="ace-icon fa fa-undo bigger-110"></i>
                    Reset
                </button>
            </div>
        </div>



    </div>

</form>

<script type="text/javascript">

    //function P_Paging(elem) {
    //    var page = $(elem).attr("id");
    //    P_AvviaRicerca(page);
    //}

    //function P_numeroElementiPaginazioneEvents() {


    //        var page = 1;
    //        P_AvviaRicerca(page);
    //}

    $(function () {

        $('.date-picker').datepicker().next().on(ace.click_event, function () {
            $(this).prev().focus();
        });

    });

    function DeleteMuseo(id) {

          //$('#fullcontainer').mask('Elimina in corso...');

        jQuery.ajax({
            type: "POST",
            url: '@Url.Action("DeleteMuseo", "Museo")',
            data: {
                idmuseo: id
            },
            dataType: "text",
            success: function (data) {
                //$("#fullcontainer").unmask();
                $('#musei_table').html(data);

            },
            error: function (xhr, ajaxOptions, thrownError) {
                //$("#fullcontainer").unmask();
                $('#musei_table').html('<div class="page-content"><p class="alert alert-danger">Si è verificato un errore:' + xhr.responseText + '</p></div>');
            }
        });
    }
    function P_AvviaRicerca() {
       
        $('#footer').hide();
        $('#np_results_table').html('');
        var searchParam = new Object();

        searchParam.IdMacroArea = $('#id_zona').val();
        searchParam.DataDa = $('#datada').val();
        searchParam.DataAl = $('#dataal').val();
        //searchParam.startIndex = page;

        //if (typeof ($("#btnnumeroElementiPaginazioneEvents").val()) == "undefined") {
        //    searchParam.endIndex = 10;
        //}
        //else {
        //    searchParam.endIndex = $("#btnnumeroElementiPaginazioneEvents").val();
        //}

        //$('#fullcontainer').mask('Ricerca in corso...');
        //alert('eccome1');
        jQuery.ajax({
            type: "POST",
            url: '@Url.Action("FiltroMusei", "Admin")',
            data: searchParam,
            dataType: "text",
            success: function (data) {
                //$("#fullcontainer").unmask();
                $('#musei_table').html(data);

            },
            error: function (xhr, ajaxOptions, thrownError) {
                //$("#fullcontainer").unmask();
                $('#musei_table').html('<div class="page-content"><p class="alert alert-danger">Si è verificato un errore:' + xhr.responseText + '</p></div>');
            }
        });
    }

</script>







